<body> 

  <div class="container" style="width:60%;">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
              <%= form_for @user do |f|%>
                <div class="form-label-group">
                <%= f.text_field :name, placeholder: "Username", autofocus: true, class: "form-control", id: "inputUsername", required: true  %>
                <%= f.label :Username, for: "inputUsername" %>
                </div> 

                <hr>

                <div class="form-label-group">
                <%= f.text_field :email, placeholder: "Email address", class: "form-control", id: "inputEmail", required: true %>
                <%= f.label :email, for: "inputEmail" %>
                </div>
                
                <hr>

                <div class="form-label-group">
                  <%= f.password_field :password, placeholder: "password", class: "form-control", id: "inputPassword", required: true %>
                  <%= f.label :password, for: "inputPassword" %>
                </div>
                
                <hr>

                <div class="form-label-group">
                  <%= f.password_field :confirm_password, placeholder: "Confirm password", class: "form-control", id: "inputConfirmPassword", required: true %>
                  <%= f.label :Confirm_password, for: "inputConfirmPassword" %>
                </div>

                <hr>

                <%= f.submit "Sign Up", class:"btn btn-lg btn-primary btn-block text-uppercase"%>
                <%= link_to 'Sign in', signin_path, class:"d-block text-center mt-2 small"%>
                
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button> 
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  
