<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
            <div class="form-signin">
              <%= form_for @user, url: signin_path  do |f|%>
                  <div class="form-label-group">
                    <%= f.email_field :email, placeholder: "Email address", class: "form-control", id: "inputEmail", required: true %>
                    <%= f.label :email, for: "inputEmail" %>
                  </div>
                  <div class="form-label-group">
                    <%= f.password_field :password, placeholder: "password", class: "form-control", id: "inputPassword", required: true %>
                    <%= f.label :password, for: "inputPassword" %>
                  </div>           
                  <%= f.submit "Sign In", class:"btn btn-lg btn-primary btn-block text-uppercase"%>           
                  <hr class="my-4">
                  <%= link_to ('<i class="fab fa-github mr-2"></i> Sign in with Github').html_safe, "/auth/github", class:"btn btn-lg btn-danger btn-block text-uppercase" %>
                  <%= link_to ('<i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook').html_safe, "/auth/facebook", class:"btn btn-lg btn-facebook btn-primary btn-block text-uppercase" %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>