<%= render partial: "layouts/errors", locals: {object: @chart} %>
<%= render partial: 'partials/formheader'%>
<div class="container">
    <h2>Chart Form</h2>
    
    <%= form_for @chart do |f| %>
        <%= f.label :date %>
        <%= f.date_field :date, min: Date.current %>
        <hr>
        <%= f.label :day %>
        <%= f.select(:days, options_for_select([['Sunday', 'Sunday'],['Monday', 'Monday'], ['Tuesday', 'Tuesday'],['Wednesday', 'Wednesday'], ['Thursday', 'Thursday'], ['Friday', 'Friday'], ['Saturday', 'Saturday']]))%>
        <hr>
        <%= f.label :time %>
        <%= f.time_field :time %>
        <hr>

        <%= f.submit%>
    <% end %>
</div>
<%= render partial: 'partials/formsfooter'%>

