<%= render partial: "layouts/errors", locals: {object: @chart} %>
<%= render partial: 'partials/formheader'%>
<div class="container">
    <h2>Chart Form</h2>
    
    <%= form_for @chart do |f| %>
        <%= f.label :date %>
        <%= f.date_field :date, min: Date.current %>
        <hr>
        <%= f.label :time %>
        <%= f.time_field :time %>
        <hr>

        <%= f.submit%>
    <% end %>
</div>
<%= render partial: 'partials/formsfooter'%>

