<div class="container">
    <h2>Chart Form</h2>

    <%= form_for @chart do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date, min: Date.current, required: true %>
    <br>
    <%= f.label :day %>
    <%= f.select(:days, options_for_select([['Sunday', 'Sunday'],['Monday', 'Monday'], ['Tuesday', 'Tuesday'],['Wednesday', 'Wednesday'], ['Thursday', 'Thursday'], ['Friday', 'Friday'], ['Saturday', 'Saturday']]), required: true)%>
    <br>
    <%= f.label :time %>
    <%= f.time_field :time, required: true%>
    <br>

    <%= f.submit%>
    <% end %>
</div>
