<div class="container">
    <table class="table table-hover">
    <tbody>
        <% @charts.each do |chart| %>
        <tr class="table-info">
            <td><%= chart.normalize_date %></td>
            <td><%= chart.days %></td>
            <td><%= chart.normalize_time %></td>
            <td><%= link_to 'Show', chart_meal_path(chart.meal)%></td> 
            <td><%= link_to 'Edit', edit_chart_path(chart)%></td>
        </tr>
        <% end %>
    </tbody>
</div>