<div class="container">
    <table class="table table-hover">
    <tbody>
        <% @charts.each do |chart| %>
        <tr class="table-info">
            <td><%= chart.normalize_date %></td>
            <td><%= chart.days %></td>
            <td><%= chart.normalize_time %></td>
            <td><%= link_to 'Show', chart_path(chart)%></td> 
            <td><%= link_to 'Edit', edit_chart_path(chart)%></td>
            <td><%= link_to 'X', chart_path(chart), method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
<%= link_to "Create an another Chart", new_chart_path, class:"btn btn-secondary" %>
</div>