<div class="container">
    <h2>Chart Form</h2>

    <%= form_for @chart do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <br>
    <%= f.label :day %>
    <%= f.text_field :days%>
    <br>
    <%= f.label :time %>
    <%= f.time_field :time%>
    <br>

    <%= f.submit%>
    <% end %>
</div>
