<%= render partial: 'partials/formheader'%>
<div class="container">
    <p>Date: <%= @chart.normalize_date %></p>
    <hr>
    <p>Day: <%= @chart.days %></p>
    <hr>
    <p>Time: <%= @chart.normalize_time %></p>
    <hr>
    <h5> Click below to </h5>
    <hr>
    <p><%= link_to 'Add Meals', new_chart_meal_path(@chart), class:"btn btn-secondary"%> OR 
    <%= link_to 'Go to Menu', chart_meals_path(@chart), class:"btn btn-secondary"%></p>
</div>
<%= render partial: 'partials/formsfooter'%>
