<%= render partial: "layouts/errors", locals: {object: @meal} %>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body", style="background-color: beige;">
            <%= form_for @meal do |f| %>

            <%= f.hidden_field :chart_id, value: @meal.chart.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>

            <%= f.label :meal_name %>
            <%= f.text_field :meal_name %>
            <hr>
            <%= f.label :meal_type %>
            <%= f.select(:meal_type, options_for_select([['Breakfast', 'Breakfast'],['Lunch', 'Lunch'],['Dinner', 'Dinner']])) %>
            <hr>
            <%= f.label :note %>
            <%= f.text_area :note %>
            <hr>
            <%= f.submit class: "btn btn-success"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
