<div class="container">

<% if @meals[0].chart %>
<h3>Here is <%= @meals[0].chart.days %>'s menu</h3>
  <table class="table table-hover">
    <thead>
    <tr class="table-danger">
        <th>Meal type</th>
        <th>Name</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <% @meals.each do |meal| %>
      <tr class="table-info">
            <td><%= meal.meal_type %></td>
            <td><%= meal.meal_name %></td>
            <td><%= meal.note %></td>
        </tr>
    <% end %>
    </tbody>
</table>
    <%= link_to 'Creat Anothor Meal', new_chart_meal_path(@meals[0].chart), class:"btn btn-secondary" %> <br>
<%else%>
  <table class="table table-hover">
    <thead>
    <tr class="table-danger">       
        <th>Meal type</th>
        <th>Name</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>

    <% @meals.each do |meal| %>
      <tr class="table-info">
            <td><%= meal.meal_type %></td>
            <td><%= meal.meal_name %></td>
            <td><%= meal.note %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%end%>
<br>
<%= link_to 'Back to Charts', charts_path, class:"btn btn-secondary" %>
</div>
