<div class="container">
    <%= render "about" %>
        <div class="row">
        <div class="col-sm-3">
            <div class="img">
                <%= image_tag(("meal-plan.jpg"), class:"img-about")%>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img">
                <%= image_tag(("baby1.jpg"), class:"img-about")%>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img">
                <%= image_tag(("food1"), class:"img-about")%>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img">
                <%= image_tag(("babyfood.jpg"), class:"img-about")%>
            </div>
        </div>
        </div> 
</div>