<!DOCTYPE html>
<html>
  <head>
    <title>BitesForTikes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: 'layouts/links'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('meal-plan.jpg') %>
  </head>

  <body>
    <%= render partial: 'partials/title'%>
    <%= render partial: 'partials/navbar' %>
    <%= render partial: "layouts/errors", locals: {object: @user} %>
    <%= render partial: "layouts/flash_mesg" %>
    
    <%= yield %>

    <%= render partial: 'partials/footer' %>
  </body>
</html>
